@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h6 class="display-4">Bienvenido a CIBERNET, Tecnología de la salud</h6>
    <p>Esta es la Solicitud de cuenta para registrarse e iniciar sesión</p>
    <p>Obtenga más información en <a href="https://twitter.com/SigiAndreDiaz" target="_blank">Twitter</a></p>
    <p>Obtenga más información en <a href="https://andrewprogramador.wixsite.com/cibernet" target="_blank">Cibernet</a></p>
    <p>Obtenga más información en <a href="https://www.instagram.com/andre_diazq/" target="_blank">Instagram</a></p>
    <p>Obtenga más información en <a href="https://www.facebook.com/andre.diazquiroz" target="_blank">Facebook</a></p>
</div>
